@import "tailwindcss";
@config "../../../tailwind.config.js";
@import "./portfolio.css";

:root {
  @apply font-sans;
  background-color: var(--bodyColor);
  color: var(--primary);
}
::selection {
  background: rgba(209, 209, 209, 0.811);
}
html {
  @apply scroll-smooth;
}

@layer utilities {
  .shadow-top {
    box-shadow: 0 -1px 4px #00000026;
  }
  .monoton-regular {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .link-underline::before {
    @apply content-[''] absolute bottom-0 left-0 h-[2px] w-0 transition-none md:transition-all duration-200 ease-in;
  }

  .link-underline-active::before {
    @apply w-full;
  }
}
