@import "tailwindcss";
@config "../../../tailwind.config.js";

:root {
  /* @apply bg-bgprimary text-primary; */
  background-color: var(--bgprimary);
  color: var(--primary);
  /* font-family: "Times New Roman", Times, serif, Helvetica, sans-serif; */
  font-family: cursive;
}

html {
  scroll-behavior: smooth;
}
